WCFClient_Strict_Ver2/Service References/MySvcStrict/MyService_Strict2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.mynamespace.com/samples/2012/03" elementFormDefault="qualified" targetNamespace="http://schemas.mynamespace.com/samples/2012/03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmpInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpInfo" nillable="true" type="tns:EmpInfo" />
</xs:schema>