WCFTestClient_Require_New_Functionalities/Service References/MyService/MyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.mynamespace.com/samples/2012/03" elementFormDefault="qualified" targetNamespace="http://www.mynamespace.com/samples/2012/03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2503/MyService.svc?xsd=xsd2" namespace="http://schemas.mynamespace.com/samples/2012/03" />
  <xs:element name="UpdateEmployeeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.mynamespace.com/samples/2012/03" minOccurs="0" name="info" nillable="true" type="q1:EmpInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.mynamespace.com/samples/2012/03" minOccurs="0" name="UpdateEmployeeDataResult" nillable="true" type="q2:EmpInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDatabyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDatabyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.mynamespace.com/samples/2012/03" minOccurs="0" name="GetEmployeeDatabyIDResult" nillable="true" type="q3:EmpInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>